<button *ngIf="!isLoggedIn" routerLink="/login">Log in</button>

<ng-container *ngIf="isLoggedIn">
        <p style="display: inline;">Welcome! </p> <button (click)="logout()"><b>Logout</b></button>
        <br>
        <p>Products:</p>
        <br>

        <ng-container *ngFor="let prod of products">
                <br>
                <p>Name: {{prod.name}}</p>
                <p>Price: {{prod.price}}</p>
                <p>Amount: {{prod.amount}}</p>
        </ng-container>
        

</ng-container>

