<div class="p-10">

        <button *ngIf="!isLoggedIn" routerLink="/login">Log in</button>

        <ng-container *ngIf="isLoggedIn">
                


                <p style="display: inline;">Welcome, {{loggedUser?.firstName}}! </p> <button
                        class="border-2 text-blue-500" (click)="logout()"><b>Logout</b></button>
                <br>
                <button>Products</button><br>
                <button *ngIf="isAdmin">Users</button>
                <br>

                <div class="p-10">
                        <app-products-table [productList]="products"></app-products-table>
                </div>

        </ng-container>

</div>